
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 70%;
    border-radius: 15px;
    border: 3px solid;
}

.text-input {
    border-radius: 3px;
    margin: 20px 0 0 15%;
    width: 400px;
    display: inline-block;
}
.task-holder {
    min-height: 100px;
    height: fit-content;
}
.task-holder h2 {
    margin: 45px auto;
    width: fit-content;
}

.plus-button {
    margin: 20px 0 0 0;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.task {
    margin: 5px 10px 0 10px;
    padding: 5px;
    border-radius: 15px;
    border: 3px dashed;
    display: flex;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    width: 600px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.hide {
    display: none;
}
.no-scroll {
    overflow: hidden;
}

.text-button {
border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}
.text {
    display: inline-block;
    margin: 5px 5px 0 10px;
}
.wrong {
    box-shadow: 5px 5px 5px red ;
}

.task-text {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    border-right: 1px solid grey;
    border-left: 1px solid grey;

    padding-left: 10px;
}
.task-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.1;
}

.task-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.1;
}

.is-done {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.pencil-button {
    border-radius: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    background-size: 26px;
    background-image: url(https://image.flaticon.com/icons/png/512/122/122105.png);
}

.done {
    color: grey;
    text-decoration: line-through;
}

.cros-button {
    margin: 8px;
    color: red;
    cursor: pointer;
    max-width: fit-content;
    border-radius: 3px;
}